/* Global */
/* body {
    font-family: "Montserrat", sans-serif;
  }
   */
  .submission {
    margin-top: 10px;
  }
  
  /* Buttons */
  

  

  
  button#restart {
    background-color: #0f574b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 85px;
    height: 60px;
    transition: .5s;
  }
  
  button.submit-button:hover,
  button#restart:hover, 
  button#start:hover {
    background-color: #a5f2e5;
    color: #0f574b;
  }
  

  
  /* Page header */
  /* #header-container {
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    margin-inline: 10%;
    margin-top: 50%;
    text-align: center;
    padding: 1px;
    color: #0f574b;
  } */
  

  


  

  
  /*Media query: tablets (768) */
  @media screen and (min-width: 768px) {
    /* Index.html */
  
    /* Page Header */
    #header-container {
      margin-top: 27%;
    }
  
  }
  
  /*media query: laptop screens (1024)*/
  @media screen and (min-width: 1024px) {
    /* Index.html */
  
    /* Page Header */
    #header-container {
      margin-left: 66%;
      margin-right: 3%;
      margin-top: 30%;
    }

  }
  
  /* media query: larger laptop screens (1440) */
  @media screen and (min-width: 1440px) {
    /* Index.html */
  
    /* Page Header  */
    #header-container {
      margin-left: 62%;
      margin-right: 6%;
      margin-top: 35%;
    }
  }
  