@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
  overflow: hidden;
  background: url("../images/background.webp") no-repeat center;
  background-size: cover;
}

/* main index page styling */
#main {
  min-height: 100vh;
}

/* Page header */
#header-container {
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  text-align: center;
  padding: 1px;
  color: #0f574b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: large;
  margin-top: 6px;
  margin-inline: 10px;
}

/* Intro content */

#intro-section {
  /* height: 100vh; */
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin-top: -65px;
}

.hide.active {
  display: none;
}

#intro-container {
  /* height: 100vh; */
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  padding: 20px 5px 20px 5px;
  color: #0f574b;
  text-align: center;
}

button#start {
  background-color: #0f574b;
  color: white;
  width: 190px;
  height: 55px;
  cursor: pointer;
  font-size: xx-large;
  border-radius: 20px;
  transition: 0.5s;
  margin-top: 20px;
}

button#next:hover,
button#restart:hover,
button#start:hover {
  background-color: #a5f2e5;
  color: #0f574b;
}

/* Q+A section */
#container {
  display: flex;
  height: 100vh;
  width: 200%;
}

#quiz-section {
  position: relative;
  left: -50%;
  /* left: 0; */
  width: 100%;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

#quiz-section.active {
  left: 0;
}

.quiz-box {
  background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 3%;
    text-align: center;
    padding: 20px 5px 20px 5px;
    color: #0f574b;
    pointer-events: none;
    transform: scale(.9);
    justify-content: center;
    align-items: center;
    width: 50%;
}

.quiz-box.active {
  pointer-events: auto;
  transform: scale(1);
}

.option-style {
  padding: 12px;
  background: transparent;
  border: 2px solid #0f574b;
  border-radius: 20px;
  margin-inline: 10%;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
}

.option-style:hover {
  background-color: #a5f2e5;
  border: 4px solid #0f574b;
}

.option-style:selected {
  background-color: #a5f2e5;
  border: 4px solid #0f574b;
}

button#next {
  background-color: #0f574b;
  color: white;
  width: 190px;
  height: 55px;
  cursor: pointer;
  font-size: large;
  transition: 0.5s;
  margin-top: 20px;
  border-radius: 20px;
}

/*Media query: tablets (768) */
@media screen and (min-width: 768px) {

h1 {
  font-size: xx-large;
}

  #intro-section {
    font-size: xx-large;
  }

  .quiz-box {
    width: 40%;
    margin-left: 76px;
    margin-top: 55px;
  }
}

/*media query: laptop screens (1024)*/
@media screen and (min-width: 1024px) {

  #header-container {
    margin-inline: 55px;
  }

  .quiz-box {
    width: 40%;
    margin-left: 105px;
    margin-top: 55px;
  }

  .option-style {
    margin-top: 20px;
  }
}

/* media query: larger laptop screens (1440) */
@media screen and (min-width: 1440px) {
}
